@model CadeMeuMedico.Models.Cidades

@{
    ViewBag.Title = "Detalhar";
}

<h2>Detalhar</h2>

<div>
    <h4>Cidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.IDCidade  }) |
    @Html.ActionLink("Voltar Para Lista", "Index")
</p>
